<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EspaceCollaboratif.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8231A3DC241A65EB00A3EEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8231A3F5241A65EE00A3EEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8231A400241A65EF00A3EEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
